@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/normalize';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  position: relative;
  // padding: 40px 0;

  // @media screen and (max-width: $smDesktopWidth) {
  //   padding: 36px 0;
  // }

  // @media screen and (max-width: $tableWidth) {
  //   padding: 28px 0;
  // }

  // @media screen and (max-width: $phoneWidth) {
  //   padding: 20px 0;
  // }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  width: $desktopWidth;

  @media screen and (max-width: $desktopWidth) {
    max-width: $smDesktopWidth;
  }

  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

// $desktopWidth : 1200px;
// $smDesktopWidth : 1024px;
// $tableWidth : 768px;
// $smTableWidth : 640px;
// $phoneWidth : 480px;
// $smPhoneWidth : 320px;

.img-wrapper {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

main {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

// Modules:
// example: @import "modules/my-module.scss";
@import "modules/button.scss";
@import "modules/typography.scss";


@import "modules/header.scss";
@import "modules/input.scss";
@import "modules/buttons.scss";
@import "modules/hero.scss";
@import "modules/restaurant.scss";
@import "modules/cards.scss";
@import "modules/footer.scss";
@import "modules/nav.scss";
@import "modules/social.scss";
@import "modules/cart.scss";
@import "modules/counter.scss";
