.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 230px;
}

@media(max-width: $tableWidth) {
  .buttons {
    width: auto;
  }
}
