.nav {
  display: flex;
  margin-left: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $nav-font-color;
  }
}
